    <footer id="footer" class="pure-g">
      <div class="inner pure-u-1">
        Derechos reservados <a href="http://wwww.giotex.com.mx">Giotex</a> bajo licencia &#169
        Copyright 2021</a>.
      </div>
    </footer>
  </div> <!-- layout closing -->
  <div id="overlay"></div>
  <script src="{{ theme_url }}/js/main.js"></script>
</body>
</html>
